body {
        padding-top: 40px;
    }

aside {
    float: left;
    width: 15%;
}

main{
    float:right;
    width: 75%;
    margin: 2%;
}

.input-group{
    width:20vw;
    margin:30px 0px;
}

.results-from-search{
    background-color: rgb(208, 236, 202);
    border: 2px solid rgba(39, 255, 61, 0.651);
    border-radius: 12px;
    padding:20px;
}